[extruder]
step_pin: sb2040:E_STEP
dir_pin: sb2040:E_DIR
enable_pin: !sb2040:E_ENABLE

##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears

##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
##  Use 50:10 for CW2
gear_ratio: 50:10 #Bondtech at CW2             #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sb2040:E_HEATER
sensor_pin: sb2040:E_TEMPERATURE
sensor_type: PT1000
pullup_resistor: 1000
min_temp: 10
max_temp: 300
max_power: 1.0
max_extrude_only_distance : 200
max_extrude_cross_section: 50
#min_extrude_temp: 10 # cold extrusion
min_extrude_temp: 170 # Min
control = pid
pid_kp = 24.969
pid_ki = 2.448
pid_kd = 63.672

pressure_advance: 0.000 
pressure_advance_smooth_time: 0.040 # Default 0.040

[tmc2209 extruder]
uart_pin: sb2040:E_UART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

